root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8
semicolon = true
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,jsx,ts,tsx,json,yml,yaml,md}]
semicolon = true
