@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: 'Parisine';
	src: url('/fonts/parisine.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Parisine';
	src: url('/fonts/parisine_bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@layer base {
	:root {
		--text: 164 100% 3%;
		--background: 168 100% 98%;
		--border: 218 5% 86%;
		--primary: 164 59% 55%;
		--secondary: 207 95% 74%;
		--accent: 226 95% 60%;
	}
	.dark {
		--text: 164 100% 97%;
		--background: 216 27% 20%;
		--border: 216 27% 40%;
		--primary: 164 59% 45%;
		--secondary: 207 95% 26%;
		--accent: 226 95% 40%;
	}
}

@theme {
	--font-main: 'Parisine', sans-serif;
	--color-foreground: hsl(var(--text));
	--color-background: hsl(var(--background));
	--color-border: hsl(var(--border));
	--color-primary: hsl(var(--primary));
	--color-secondary: hsl(var(--secondary));
	--color-accent: hsl(var(--accent));
}

body {
	@apply font-main;
}

.line-indicator {
	@apply absolute h-[95%] left-0 top-1 w-[6px];
}

/*#region ItineraryBreakdown */
.has-stop-indicator {
	@apply relative before:z-10 before:absolute before:size-[14px] before:left-[-20px] before:top-[1px] before:rounded-full before:bg-white before:border-2 dark:before:border-black;

	&.small-indicator {
		@apply before:size-[12px] before:left-[-19px] before:top-[2px];

		&:before {
			border-color: var(--border-color);
			opacity: 1;
			transition: opacity 0.3s ease-in-out;
			/* The base 0.05s Delay is added to account for the parent container overflow delay */
			transition-delay: calc(0.05s + var(--data-index) * 0.05s);
		}

		&[data-displayed='false'] {
			@apply before:opacity-0;
		}
	}
}

/* Transitions don't work for overflow, so we use keyframes instead.
 * Since the station-indicators are hidden by the hidden overflow, we must de-hide the overflow when the container is open.
 * If the overflow is instantly visible, the dropdown-like effect is lost. */
@keyframes overflow-in {
	from {
		overflow: hidden;
	}
}

@keyframes overflow-out {
	from {
		overflow: visible;
	}
}

.middle-stops-container {
	@apply h-0 transition-all duration-300;
	/* Overflow becomes hidden only after .3s, leaving time to stop indicators to fade out. */
	animation: overflow-out 0.3s linear forwards;
	overflow: hidden;

	&.open {
		animation: overflow-in 0.3s linear forwards;
		/* This is just like height auto, but allows animations */
		overflow: visible;
	}
}

@supports (height: calc-size(auto, size)) {
	.h-calc {
		height: calc-size(auto, size);
	}
	.middle-stops-container.open {
		height: calc-size(auto, size);
	}
}

@supports not (height: calc-size(auto, size)) {
	.h-calc {
		height: auto;
	}
	.middle-stops-container.open {
		height: auto;
	}
}

/*#endregion*/
.dark {
	& .leaflet-layer,
	& .leaflet-control-zoom-in,
	& .leaflet-control-zoom-out,
	& .leaflet-control-attribution {
		filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

/*#region TrafficInfo */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
}
